<div class="bootstrap-wrapper eerie full-height">
    <div class="container ">
        <div class="row " style="padding-top: 1rem;">
            <div class="col-md-6 offset-md-3 " >
                <div class="container text-center">
                    <img src="../../../assets/logo.jpeg" alt="logo" style="height: 10em; border-radius: 50%;">
                </div>
                <h1 class="text-center poppins violet">Welcome back</h1>
                <mat-card class="example-card pad"
                    style="border-radius: 2rem; margin-bottom: 2rem; padding-bottom: 2rem; margin-top: 2rem;">
                    <form (ngSubmit)="formSubmit()" class="example-form poppins">
                        <!-- (ngSubmit)="formSubmit()" -->
                        {{loginData | json}}
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Username</mat-label>
                            <input [(ngModel)]="loginData.username"
                            required  name="username" matInput
                                placeholder="Enter Here">
                        </mat-form-field>
                        <!-- password -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Password</mat-label>
                            <input
                            [(ngModel)]="loginData.password"
                            required name="password" matInput
                                placeholder="Enter Here" type="password">
                        </mat-form-field>
                        <!--  [(ngModel)]="user.password" -->
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary"
                                style="margin-right: 4rem ;">Login</button>
                            <button type="reset" mat-raised-button color="accent">Clear</button>

                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>